<?xml version="1.0" encoding="UTF-8"?>
<config:GameConfig xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:config="platform:/plugin/no.hal.pg.config/model/config.ecore" xmlns:exampletask-config="platform:/plugin/no.hal.pg.exampletask.config/model/exampletask-config.ecore" xmlns:osm="http://www.openstreetmap.org/v06/osm.ecore">
  <tasks xsi:type="exampletask-config:ExampleTaskConfig" name="Example task" description="Is this a question?" question="Is this a qusetion?" correctAnswer="true"/>
  <tasks xsi:type="exampletask-config:ExampleTaskConfig" name="Another example task"/>
  <players name="Example role" playerCount="5">
    <items xsi:type="config:InfoItemConfig" description="Item 3"/>
  </players>
  <items xsi:type="config:InfoItemConfig" name="Item 1" description="Item 1">
    <location xsi:type="osm:Node" href="gloshaugen-cleaned.osm#439766273"/>
  </items>
  <items xsi:type="config:InfoItemConfig" name="Item 2" description="Item 2"/>
</config:GameConfig>
