<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ineruntime-config="platform:/resource/no.inela.runtime.config/model/config.ecore" xmlns:osm="http://www.openstreetmap.org/v06/osm.ecore" xmlns:puzzletask2="platform:/plugin/no.inlea.puzzletask2.runtime/model/puzzletask2.ecore" xmlns:puzzletask2-config="platform:/resource/no.inlea.puzzletask2.config/model/config.ecore">
  <ineruntime-config:RuntimeConfig>
    <tasks xsi:type="puzzletask2-config:PuzzleTask2Config" name="Pushup task" description="SiT" puzzle="/1" closeTime="2020-04-29T20:00:00.000+0200" location="/0/@locations.0"/>
    <tasks xsi:type="puzzletask2-config:PuzzleTask2Config" name="124" description="122" puzzle="/2" openTime="2020-05-28T23:00:00.000+0200" closeTime="2020-05-28T23:00:00.000+0200" acceptableTargetDistance="100" maxScore="200" wrongAttemptPenalty="20" location="/0/@locations.1"/>
    <locations xsi:type="osm:GeoLocation" latitude="59.7259" longitude="10.8233"/>
    <locations xsi:type="osm:GeoLocation" latitude="59.0" longitude="10.0"/>
  </ineruntime-config:RuntimeConfig>
  <puzzletask2:Puzzle solution="a7b2" instructions="Go to stand to get the task approved">
    <puzzlePieces xsi:type="puzzletask2:TextPiece" name="Pushup" text="Do as many pushups as you can in one minute"/>
  </puzzletask2:Puzzle>
  <puzzletask2:Puzzle solution="123" instructions="123">
    <puzzlePieces xsi:type="puzzletask2:TextPiece" name="123" text="123"/>
  </puzzletask2:Puzzle>
</xmi:XMI>
