<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:config="platform:/plugin/no.hal.pg.config/model/config.ecore" xmlns:osm="http://www.openstreetmap.org/v06/osm.ecore" xmlns:puzzletask2="platform:/plugin/no.inlea.puzzletask2.runtime/model/puzzletask2.ecore" xmlns:puzzletask2-config="platform:/resource/no.inlea.puzzletask2.config/model/config.ecore">
  <config:GameConfig>
    <tasks xsi:type="puzzletask2-config:PuzzleTask2Config" name="Puzzleee" description="Puzlzeee" puzzle="/1" openTime="2020-03-30T15:00:00.000+0200" closeTime="2020-03-30T17:00:00.000+0200" location="/0/@locations.1"/>
    <tasks xsi:type="puzzletask2-config:PuzzleTask2Config" name="puzlz2" description="wafawf" puzzle="/2"/>
    <tasks xsi:type="puzzletask2-config:PuzzleTask2Config" name="Noe" puzzle="/3"/>
    <taskProxies name="Puzlz2" ref="/0/@tasks.1" requiresFinished="/0/@taskProxies.1"/>
    <taskProxies name="Puzzleee" ref="/0/@tasks.0"/>
    <locations xsi:type="osm:GeoLocation"/>
    <locations xsi:type="osm:Node"/>
  </config:GameConfig>
  <puzzletask2:Puzzle solution="organ">
    <puzzlePieces xsi:type="puzzletask2:ImagePiece" name="brain"/>
    <puzzlePieces xsi:type="puzzletask2:ImagePiece" name="heart"/>
    <puzzlePieces xsi:type="puzzletask2:ImagePiece" name="pipe organ"/>
  </puzzletask2:Puzzle>
  <puzzletask2:Puzzle solution="color">
    <puzzlePieces xsi:type="puzzletask2:ImagePiece" name="red"/>
    <puzzlePieces xsi:type="puzzletask2:ImagePiece" name="blue"/>
  </puzzletask2:Puzzle>
  <puzzletask2:Puzzle solution="regissør">
    <puzzlePieces xsi:type="puzzletask2:ImagePiece" name="kubrick"/>
    <puzzlePieces xsi:type="puzzletask2:ImagePiece" name="spielberg"/>
    <puzzlePieces xsi:type="puzzletask2:ImagePiece" name="bay"/>
  </puzzletask2:Puzzle>
</xmi:XMI>
