<?xml version="1.0" encoding="UTF-8"?>
<config:GameConfig xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:config="platform:/plugin/no.hal.pg.config/model/config.ecore" xmlns:sokoban-config="platform:/plugin/no.hal.sokoban.config/model/sokoban-config.ecore">
  <tasks xsi:type="sokoban-config:SokobanTaskConfig" name="SimpleSample" description="Simple sample">
    <level href="sample1.sok#//@levels.0"/>
  </tasks>
  <players name="Warehouse keeper" playerCount="-1"/>
</config:GameConfig>
