<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated puzzletask2 -->
      <package
            uri="platform:/plugin/no.inlea.puzzletask3.runtime/model/puzzletask3.ecore"
            class="no.inlea.puzzletask3.runtime.RuntimePackage"
            genModel="model/puzzletask3.genmodel"/>
   </extension>

</plugin>
