<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated exampletask -->
      <package
            uri="platform:/plugin/no.hal.pg.exampletask.runtime/model/exampletask.ecore"
            class="no.hal.pg.exampletask.runtime.RuntimePackage"
            genModel="model/exampletask.genmodel"/>
   </extension>

</plugin>
