<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ineruntime -->
      <package
            uri="platform:/plugin/no.inela.runtime/model/runtime.ecore"
            class="no.inela.ineruntime.IneruntimePackage"
            genModel="model/runtime.genmodel"/>
   </extension>
	

</plugin>
