<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
	<extension point="org.eclipse.ui.editors">
      	<editor class="org.eclipse.emfforms.spi.editor.GenericEditor"
      		id="no.hal.pg.config.viewmodel"
      		name="Pg Game configuration editor"
      		extensions="config"
      		default="true"
      		>
    		</editor>
    </extension>
    
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated config NOT -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="no.hal.pg.config.presentation.ConfigModelWizardID"
            name="%_UI_ConfigModelWizard_label"
            class="no.hal.pg.config.presentation.ConfigModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            >
         <description>%_UI_ConfigModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated viewmodel -->
      <package
            uri="platform:/plugin/no.hal.pg.config.editor/model/viewmodel.ecore"
            class="no.hal.pg.config.viewmodel.ViewmodelPackage"
            genModel="model/viewmodel.genmodel"/>
   </extension>

	<extension  point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
		<file filePath="viewmodels/GameConfig.view"/>
	</extension>

   <extension point="org.eclipse.emfforms.editor.toolbarActions">
   		<action toolbarAction="no.hal.pg.config.actions.LoadResourceToolbarAction"/>
   </extension>

   <extension point="org.eclipse.emfforms.editor.toolbarActions">
   		<action toolbarAction="no.hal.pg.config.actions.CreateGameToolbarAction"/>
   </extension>

</plugin>
