<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated config -->
      <package
            uri="platform:/resource/no.inlea.puzzletask3.config/model/config.ecore"
            class="config.ConfigPackage"
            genModel="model/config.genmodel"/>
   </extension>

   <extension point="org.eclipse.emfforms.editor.toolbarActions">
   		<action toolbarAction="config.actions.AddPuzzleTask3ConfigToolbarAction"/>
   </extension>

</plugin>
